/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 29, 2016, 9:05:18 AM
    Author     : VaddadiSaicharan
*/

body {
    background-color: whitesmoke;
}

.options {
    width: 50%;
}

.answer{
    color: blue;
    font-size: x-large;
}
.c1{
    color:green;
}
